#mailtoGroup .input-group-btn > .btn {margin-left: -1px !important;}
#mailtoGroup .chosen-container-single a {border-left-width: 0px;}
.input-group > .input-group-addon {min-width: 90px; text-align: left;}
