/*.demandtip{display:inline-block;padding: 6px 12px}*/
.demandtip{display:inline-block;position: absolute;width: 663px;height:33px;color: lightslategray;margin-left: -40px}
.demandtip span{position: absolute;bottom: 24px;width:100%;text-align: center;}

